.baseContainer1 {
    display:  inline-flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .baseContainer1 {
        flex-direction: row;
   }
}
.filterContainer1 {
    width: 80%;
   
}
@media (min-width: 768px) {
    .filterContainer1 {
        width: 30%;
   }
}
.cardContainer1 {
    width: 100%;
}
@media (min-width: 768px) {
    .cardContainer1 {
        width: 100%;
   }
}
